USE skyfire_dbhutech2015_ecommerce
GO

/****** Object:  Table [dbo].[SF_BANTINCUAHANG]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_BANTINCUAHANG](
	[MABANTIN] [char](15) NOT NULL,
	[MACUAHANG] [char](15) NOT NULL,
	[TIEUDE] [nvarchar](150) NOT NULL,
	[NOIDUNGTOMTAT] [ntext] NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[NGAYDANG] [smalldatetime] NOT NULL,
	[HINHANHBANTIN] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MABANTIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_BINHLUAN]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_BINHLUAN](
	[MABINHLUAN] [char](15) NOT NULL,
	[MABINHLUANCHA] [char](15) NOT NULL,
	[MASANPHAM] [char](15) NOT NULL,
	[MAKHACHHANG] [varchar](255) NOT NULL,
	[NOIDUNG] [ntext] NOT NULL,
	[NGAYBINHLUAN] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABINHLUAN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CUAHANG]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CUAHANG](
	[MACUAHANG] [char](15) NOT NULL,
	[MAQUANHUYEN] [char](8) NOT NULL,
	[MAQUYEN] [int] NOT NULL,
	[HINHLOGO] [varchar](255) NULL,
	[TENCUAHANG] [nvarchar](100) NOT NULL,
	[HOTENCHUCUAHANG] [nvarchar](100) NOT NULL,
	[KHAUHIEU] [nvarchar](200) NULL,
	[DIACHI] [nvarchar](255) NULL,
	[DIENTHOAICHINH] [varchar](15) NOT NULL,
	[DIENTHOAIPHU] [varchar](15) NULL,
	[MOTA] [nvarchar](255) NULL,
	[CHUNGNHAN] [tinyint] NULL,
	[TAIKHOANCUAHANG] [varchar](100) NOT NULL,
	[MATKHAUCUAHANG] [varchar](255) NOT NULL,
	[NGAYTAO] [smalldatetime] NOT NULL,
	[TRANGTHAI] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACUAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CUAHANGYEUTHICH]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CUAHANGYEUTHICH](
	[MAKHACHHANG] [varchar](255) NOT NULL,
	[MACUAHANG] [char](15) NOT NULL,
	[NGAYTHICH] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC,
	[MACUAHANG] ASC,
	[NGAYTHICH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CHITIETGIAMGIA]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CHITIETGIAMGIA](
	[MASANPHAM] [char](15) NOT NULL,
	[MACHUONGTRINHGIAMGIA] [char](20) NOT NULL,
	[PHANTRAMGIAMGIA] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC,
	[MACHUONGTRINHGIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CHITIETTHUOCTINHSANPHAM]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CHITIETTHUOCTINHSANPHAM](
	[MASANPHAM] [char](15) NOT NULL,
	[MAGIATRITHUOCTINH] [char](10) NOT NULL,
	[TRANGTHAI] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC,
	[MAGIATRITHUOCTINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CHITIETVANCHUYEN]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CHITIETVANCHUYEN](
	[SOHOADON] [char](20) NOT NULL,
	[MAPHUONGTHUC] [char](6) NOT NULL,
	[MATHANHPHODI] [char](5) NOT NULL,
	[MATHANHPHODEN] [char](5) NOT NULL,
	[TONGPHIVANCHUYEN] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC,
	[MAPHUONGTHUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CHITIETHINHANHSANPHAM]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CHITIETHINHANHSANPHAM](
	[MASANPHAM] [char](15) NOT NULL,
	[MAHINHANH] [char](15) NOT NULL,
	[THUTUSAPXEP] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC,
	[MAHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CHITIETHOADON]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CHITIETHOADON](
	[MASANPHAM] [char](15) NOT NULL,
	[SOHOADON] [char](20) NOT NULL,
	[SOLUONGBAN] [int] NOT NULL,
	[THANHTIEN] [decimal](18, 0) NULL,
 CONSTRAINT [PK__SF_CHITI__EB3C987B7A3938A4] PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC,
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CHUONGTRINHGIAMGIA]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CHUONGTRINHGIAMGIA](
	[MACHUONGTRINHGIAMGIA] [char](20) NOT NULL,
	[MACUAHANG] [char](15) NOT NULL,
	[TENGIAMGIA] [nvarchar](150) NOT NULL,
	[NOIDUNG] [ntext] NULL,
	[NGAYBATDAU] [smalldatetime] NOT NULL,
	[NGAYKETTHUC] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUONGTRINHGIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_CHUYENMUC]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_CHUYENMUC](
	[MACHUYENMUC] [char](8) NOT NULL,
	[MACHUYENMUCCHA] [char](8) NULL,
	[TENCHUYENMUC] [nvarchar](50) NOT NULL,
	[MOTA] [ntext] NULL,
	[HINHANH] [varchar](255) NOT NULL,
	[THUTU] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MACHUYENMUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_DANHGIASANPHAM]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_DANHGIASANPHAM](
	[MAKHACHHANG] [varchar](255) NOT NULL,
	[MASANPHAM] [char](15) NOT NULL,
	[NGAY] [smalldatetime] NOT NULL,
	[DIEM] [tinyint] NOT NULL,
	[NOIDUNGDANHGIA] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC,
	[MASANPHAM] ASC,
	[NGAY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_DONVITINH]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_DONVITINH](
	[MADONVITINH] [char](5) NOT NULL,
	[TENDONVITINH] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONVITINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_GIATRITHUOCTINH]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_GIATRITHUOCTINH](
	[MAGIATRITHUOCTINH] [char](10) NOT NULL,
	[MATHUOCTINH] [char](10) NOT NULL,
	[TENGIATRITHUOCTINH] [nvarchar](100) NOT NULL,
	[MOTA] [ntext] NULL,
	[ICON] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAGIATRITHUOCTINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_HINHANHSANPHAM]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_HINHANHSANPHAM](
	[MAHINHANH] [char](15) NOT NULL,
	[TENHINHANH] [varchar](255) NOT NULL,
	[NGAYTAO] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHINHANH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_HOADON]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_HOADON](
	[SOHOADON] [char](20) NOT NULL,
	[MACUAHANG] [char](15) NOT NULL,
	[MAKHACHHANG] [varchar](255) NOT NULL,
	[MACHUONGTRINHGIAMGIA] [char](20) NULL,
	[NGAYLAP] [smalldatetime] NOT NULL,
	[TRANGTHAIHOADON] [tinyint] NOT NULL,
	[TONGTIEN] [decimal](18, 0) NULL,
 CONSTRAINT [PK__SF_HOADO__E0850E964F5452FF] PRIMARY KEY CLUSTERED 
(
	[SOHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_KHACHHANG]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_KHACHHANG](
	[MAKHACHHANG] [varchar](255) NOT NULL,
	[MATKHAU] [varchar](255) NOT NULL,
	[MAQUYEN] [int] NOT NULL,
	[HOTENLOT] [nvarchar](100) NOT NULL,
	[TEN] [nvarchar](100) NOT NULL,
	[GIOITINH] [tinyint] NULL,
	[EMAIL] [varchar](255) NOT NULL,
	[DIENTHOAI] [varchar](15) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](255) NULL,
	[NGAYTAO] [smalldatetime] NOT NULL,
	[TRANGTHAI] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_KHOANGCACH]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_KHOANGCACH](
	[MATHANHPHODI] [char](5) NOT NULL,
	[MATHANHPHODEN] [char](5) NOT NULL,
	[DODAI] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHANHPHODI] ASC,
	[MATHANHPHODEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_NHANVIENQUANTRI]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_NHANVIENQUANTRI](
	[MANHANVIEN] [char](5) NOT NULL,
	[MATKHAUNHANVIEN] [varchar](255) NOT NULL,
	[MAQUYEN] [int] NOT NULL,
	[HOTENDEM] [nvarchar](100) NOT NULL,
	[TENNHANVIEN] [varchar](100) NOT NULL,
	[DIENTHOAI] [varchar](15) NOT NULL,
	[DIACHI] [nvarchar](255) NOT NULL,
	[NGAYSINH] [smalldatetime] NOT NULL,
	[SOCMND] [varchar](50) NOT NULL,
	[TRANGTHAI] [tinyint] NOT NULL,
	[NGAYTAO] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_NHOMQUYEN]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SF_NHOMQUYEN](
	[MAQUYEN] [int] NOT NULL,
	[TENQUYEN] [nvarchar](50) NULL,
	[MOTA] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SF_PHUONGTHUCVANCHUYEN]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_PHUONGTHUCVANCHUYEN](
	[MAPHUONGTHUC] [char](6) NOT NULL,
	[TENPHUONGTHUC] [nvarchar](150) NOT NULL,
	[PHIVANCHUYEN] [decimal](18, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPHUONGTHUC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_QUANHUYEN]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_QUANHUYEN](
	[MAQUANHUYEN] [char](8) NOT NULL,
	[MATHANHPHO] [char](5) NOT NULL,
	[TENQUANHUYEN] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MAQUANHUYEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_SANPHAM]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_SANPHAM](
	[MASANPHAM] [char](15) NOT NULL,
	[MACHUYENMUC] [char](8) NOT NULL,
	[MADONVITINH] [char](5) NULL,
	[MACUAHANG] [char](15) NOT NULL,
	[TENSANPHAM] [nvarchar](100) NOT NULL,
	[DONGIACU] [decimal](18, 0) NOT NULL,
	[DONGIAMOI] [decimal](18, 0) NULL,
	[LUOTXEM] [int] NULL,
	[TINHTRANG] [tinyint] NULL,
	[MOTA] [nvarchar](255) NULL,
	[LUUNHAP] [tinyint] NULL,
	[NGAYTAO] [smalldatetime] NULL,
	[SOLUONGTONKHO] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_THANHPHO]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_THANHPHO](
	[MATHANHPHO] [char](5) NOT NULL,
	[TENTHANHPHO] [nvarchar](100) NOT NULL,
	[TENVIETTAT] [varchar](20) NULL,
	[MABUUCHINH] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHANHPHO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SF_THUOCTINH]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SF_THUOCTINH](
	[MATHUOCTINH] [char](10) NOT NULL,
	[TENTHUOCTINH] [nvarchar](100) NOT NULL,
	[MOTA] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MATHUOCTINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SF_CUAHANG] ([MACUAHANG], [MAQUANHUYEN], [MAQUYEN], [HINHLOGO], [TENCUAHANG], [HOTENCHUCUAHANG], [KHAUHIEU], [DIACHI], [DIENTHOAICHINH], [DIENTHOAIPHU], [MOTA], [CHUNGNHAN], [TAIKHOANCUAHANG], [MATKHAUCUAHANG], [NGAYTAO], [TRANGTHAI]) VALUES (N'CH0000000000001', N'QH000034', 2, NULL, N'Út Chuột Store', N'Đỗ Thị Ngọc', N'Vui lòng khách đến vừa lòng khách đi', N'251 Nguyễn Thái Sơn, Gò Vấp', N'989959545', N'902583976', N'Thời trang út chuột,', 1, N'dothingocbt@gmail.com', N'uchm2234', CAST(N'2015-01-01 00:00:00' AS SmallDateTime), 0)
INSERT [dbo].[SF_CUAHANG] ([MACUAHANG], [MAQUANHUYEN], [MAQUYEN], [HINHLOGO], [TENCUAHANG], [HOTENCHUCUAHANG], [KHAUHIEU], [DIACHI], [DIENTHOAICHINH], [DIENTHOAIPHU], [MOTA], [CHUNGNHAN], [TAIKHOANCUAHANG], [MATKHAUCUAHANG], [NGAYTAO], [TRANGTHAI]) VALUES (N'CH0000000000002', N'QH000034', 2, NULL, N'Út Chuột Store', N'Đỗ Thị Ngọc', N'Vui lòng khách đến vừa lòng khách đi', N'251 Nguyễn Thái Sơn, Gò Vấp', N'989959545', N'902583976', N'Thời trang út chuột,', 1, N'dothingocbt2@gmail.com', N'uchm2234', CAST(N'2015-01-01 00:00:00' AS SmallDateTime), 0)
INSERT [dbo].[SF_CUAHANG] ([MACUAHANG], [MAQUANHUYEN], [MAQUYEN], [HINHLOGO], [TENCUAHANG], [HOTENCHUCUAHANG], [KHAUHIEU], [DIACHI], [DIENTHOAICHINH], [DIENTHOAIPHU], [MOTA], [CHUNGNHAN], [TAIKHOANCUAHANG], [MATKHAUCUAHANG], [NGAYTAO], [TRANGTHAI]) VALUES (N'CH0000000000003', N'QH000034', 2, NULL, N'Út Chuột Store', N'Đỗ Thị Ngọc', N'Vui lòng khách đến vừa lòng khách đi', N'251 Nguyễn Thái Sơn, Gò Vấp', N'989959545', N'902583976', N'Thời trang út chuột,', 1, N'dothingocb32t@gmail.com', N'uchm2234', CAST(N'2015-01-01 00:00:00' AS SmallDateTime), 0)
INSERT [dbo].[SF_CHITIETGIAMGIA] ([MASANPHAM], [MACHUONGTRINHGIAMGIA], [PHANTRAMGIAMGIA]) VALUES (N'SP0000000000001', N'GG000000000000000001', 20)
INSERT [dbo].[SF_CHITIETGIAMGIA] ([MASANPHAM], [MACHUONGTRINHGIAMGIA], [PHANTRAMGIAMGIA]) VALUES (N'SP0000000000002', N'GG000000000000000001', 30)
INSERT [dbo].[SF_CHITIETGIAMGIA] ([MASANPHAM], [MACHUONGTRINHGIAMGIA], [PHANTRAMGIAMGIA]) VALUES (N'SP0000000000003', N'GG000000000000000001', 40)
GO
INSERT [dbo].[SF_CHITIETTHUOCTINHSANPHAM] ([MASANPHAM], [MAGIATRITHUOCTINH], [TRANGTHAI]) VALUES (N'SP0000000000001', N'GGTT000001', 1)
INSERT [dbo].[SF_CHITIETTHUOCTINHSANPHAM] ([MASANPHAM], [MAGIATRITHUOCTINH], [TRANGTHAI]) VALUES (N'SP0000000000001', N'GGTT000081', 1)
INSERT [dbo].[SF_CHITIETTHUOCTINHSANPHAM] ([MASANPHAM], [MAGIATRITHUOCTINH], [TRANGTHAI]) VALUES (N'SP0000000000001', N'GGTT000092', 1)
GO
INSERT [dbo].[SF_CHITIETHINHANHSANPHAM] ([MASANPHAM], [MAHINHANH], [THUTUSAPXEP]) VALUES (N'SP0000000000001', N'HA0000000000009', 1)
INSERT [dbo].[SF_CHITIETHINHANHSANPHAM] ([MASANPHAM], [MAHINHANH], [THUTUSAPXEP]) VALUES (N'SP0000000000001', N'HA0000000000010', 2)
INSERT [dbo].[SF_CHITIETHINHANHSANPHAM] ([MASANPHAM], [MAHINHANH], [THUTUSAPXEP]) VALUES (N'SP0000000000001', N'HA0000000000011', 3)
GO
INSERT [dbo].[SF_CHITIETHOADON] ([MASANPHAM], [SOHOADON], [SOLUONGBAN], [THANHTIEN]) VALUES (N'SP0000000000001', N'HD000000000000000001', 2, NULL)
INSERT [dbo].[SF_CHITIETHOADON] ([MASANPHAM], [SOHOADON], [SOLUONGBAN], [THANHTIEN]) VALUES (N'SP0000000000001', N'HD000000000000000011', 2, NULL)
INSERT [dbo].[SF_CHITIETHOADON] ([MASANPHAM], [SOHOADON], [SOLUONGBAN], [THANHTIEN]) VALUES (N'SP0000000000002', N'HD000000000000000001', 1, NULL)
GO
INSERT [dbo].[SF_CHUONGTRINHGIAMGIA] ([MACHUONGTRINHGIAMGIA], [MACUAHANG], [TENGIAMGIA], [NOIDUNG], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'GG000000000000000001', N'CH0000000000001', N'Giảm giá khai trương', N'Giảm giá khai trương', CAST(N'2015-01-01 00:00:00' AS SmallDateTime), CAST(N'2015-12-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[SF_CHUONGTRINHGIAMGIA] ([MACHUONGTRINHGIAMGIA], [MACUAHANG], [TENGIAMGIA], [NOIDUNG], [NGAYBATDAU], [NGAYKETTHUC]) VALUES (N'GG000000000000000002', N'CH0000000000002', N'Giảm giá khai trương', N'Giảm giá khai trương', CAST(N'2015-01-01 00:00:00' AS SmallDateTime), CAST(N'2015-12-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[SF_CHUYENMUC] ([MACHUYENMUC], [MACHUYENMUCCHA], [TENCHUYENMUC], [MOTA], [HINHANH], [THUTU]) VALUES (N'CM000001', NULL, N'Thời trang nữ', NULL, N'CM000001.png', 1)
INSERT [dbo].[SF_CHUYENMUC] ([MACHUYENMUC], [MACHUYENMUCCHA], [TENCHUYENMUC], [MOTA], [HINHANH], [THUTU]) VALUES (N'CM000002', NULL, N'Thời trang nam', NULL, N'CM000002.png', 2)
INSERT [dbo].[SF_CHUYENMUC] ([MACHUYENMUC], [MACHUYENMUCCHA], [TENCHUYENMUC], [MOTA], [HINHANH], [THUTU]) VALUES (N'CM000003', NULL, N'Mẹ và bé', NULL, N'CM000003.png', 3)
GO
INSERT [dbo].[SF_DONVITINH] ([MADONVITINH], [TENDONVITINH], [MOTA]) VALUES (N'DVT01', N'Cái', NULL)
INSERT [dbo].[SF_GIATRITHUOCTINH] ([MAGIATRITHUOCTINH], [MATHUOCTINH], [TENGIATRITHUOCTINH], [MOTA], [ICON]) VALUES (N'GGTT000001', N'TT00000001', N'UNIQUILO', NULL, NULL)
INSERT [dbo].[SF_GIATRITHUOCTINH] ([MAGIATRITHUOCTINH], [MATHUOCTINH], [TENGIATRITHUOCTINH], [MOTA], [ICON]) VALUES (N'GGTT000002', N'TT00000001', N'CEZANO', NULL, NULL)
INSERT [dbo].[SF_GIATRITHUOCTINH] ([MAGIATRITHUOCTINH], [MATHUOCTINH], [TENGIATRITHUOCTINH], [MOTA], [ICON]) VALUES (N'GGTT000003', N'TT00000001', N'ZARA', NULL, NULL)
GO
INSERT [dbo].[SF_HINHANHSANPHAM] ([MAHINHANH], [TENHINHANH], [NGAYTAO]) VALUES (N'HA0000000000001', N'aokieunu1_1.jpg', CAST(N'2015-01-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[SF_HINHANHSANPHAM] ([MAHINHANH], [TENHINHANH], [NGAYTAO]) VALUES (N'HA0000000000002', N'aokieunu1_2.jpg', CAST(N'2015-01-01 00:00:00' AS SmallDateTime))
INSERT [dbo].[SF_HINHANHSANPHAM] ([MAHINHANH], [TENHINHANH], [NGAYTAO]) VALUES (N'HA0000000000003', N'aokieunu2_1.jpg', CAST(N'2015-01-01 00:00:00' AS SmallDateTime))
GO
INSERT [dbo].[SF_HOADON] ([SOHOADON], [MACUAHANG], [MAKHACHHANG], [MACHUONGTRINHGIAMGIA], [NGAYLAP], [TRANGTHAIHOADON], [TONGTIEN]) VALUES (N'HD000000000000000001', N'CH0000000000001', N'khachhang001', NULL, CAST(N'2015-01-01 00:00:00' AS SmallDateTime), 1, NULL)
INSERT [dbo].[SF_HOADON] ([SOHOADON], [MACUAHANG], [MAKHACHHANG], [MACHUONGTRINHGIAMGIA], [NGAYLAP], [TRANGTHAIHOADON], [TONGTIEN]) VALUES (N'HD000000000000000002', N'CH0000000000002', N'khachhang002', NULL, CAST(N'2015-02-01 00:00:00' AS SmallDateTime), 1, NULL)
INSERT [dbo].[SF_HOADON] ([SOHOADON], [MACUAHANG], [MAKHACHHANG], [MACHUONGTRINHGIAMGIA], [NGAYLAP], [TRANGTHAIHOADON], [TONGTIEN]) VALUES (N'HD000000000000000003', N'CH0000000000003', N'khachhang003', NULL, CAST(N'2015-03-01 00:00:00' AS SmallDateTime), 1, NULL)
INSERT [dbo].[SF_KHACHHANG] ([MAKHACHHANG], [MATKHAU], [MAQUYEN], [HOTENLOT], [TEN], [GIOITINH], [EMAIL], [DIENTHOAI], [NGAYSINH], [DIACHI], [NGAYTAO], [TRANGTHAI]) VALUES (N'khachhang001', N'khachhang001', 3, N'hoàng', N'phong', 1, N'abc123@gmail.com', N'124344231', CAST(N'1990-01-01 00:00:00.000' AS DateTime), N'123 xa lộ 1 A, HCM', CAST(N'2015-01-01 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[SF_KHACHHANG] ([MAKHACHHANG], [MATKHAU], [MAQUYEN], [HOTENLOT], [TEN], [GIOITINH], [EMAIL], [DIENTHOAI], [NGAYSINH], [DIACHI], [NGAYTAO], [TRANGTHAI]) VALUES (N'khachhang002', N'khachhang002', 3, N'hoàng', N'long', 1, N'abc12355@gmail.com', N'124344231', CAST(N'1990-01-01 00:00:00.000' AS DateTime), N'123 xa lộ 1 A, HCM', CAST(N'2015-01-01 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[SF_KHACHHANG] ([MAKHACHHANG], [MATKHAU], [MAQUYEN], [HOTENLOT], [TEN], [GIOITINH], [EMAIL], [DIENTHOAI], [NGAYSINH], [DIACHI], [NGAYTAO], [TRANGTHAI]) VALUES (N'khachhang003', N'khachhang003', 3, N'hoàng', N'phon', 1, N'abc12553@gmail.com', N'124344231', CAST(N'1990-01-01 00:00:00.000' AS DateTime), N'123 xa lộ 1 A, HCM', CAST(N'2015-01-01 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[SF_NHOMQUYEN] ([MAQUYEN], [TENQUYEN], [MOTA]) VALUES (1, N'Quản Trị Website', N'Quyền quản trị website')
INSERT [dbo].[SF_NHOMQUYEN] ([MAQUYEN], [TENQUYEN], [MOTA]) VALUES (2, N'Quản Lý Cửa Hàng', N'Quyền quản lý cửa hàng')
INSERT [dbo].[SF_NHOMQUYEN] ([MAQUYEN], [TENQUYEN], [MOTA]) VALUES (3, N'Khách Hàng', N'Quyền khách hàng vãng lai')
INSERT [dbo].[SF_QUANHUYEN] ([MAQUANHUYEN], [MATHANHPHO], [TENQUANHUYEN]) VALUES (N'QH000001', N'TP024', N'Quận Ba Đình')
INSERT [dbo].[SF_QUANHUYEN] ([MAQUANHUYEN], [MATHANHPHO], [TENQUANHUYEN]) VALUES (N'QH000002', N'TP024', N'Quận Bắc Từ Liêm')
INSERT [dbo].[SF_QUANHUYEN] ([MAQUANHUYEN], [MATHANHPHO], [TENQUANHUYEN]) VALUES (N'QH000003', N'TP024', N'Quận Cầu Giấy')
INSERT [dbo].[SF_SANPHAM] ([MASANPHAM], [MACHUYENMUC], [MADONVITINH], [MACUAHANG], [TENSANPHAM], [DONGIACU], [DONGIAMOI], [LUOTXEM], [TINHTRANG], [MOTA], [LUUNHAP], [NGAYTAO], [SOLUONGTONKHO]) VALUES (N'SP0000000000001', N'CM000094', N'DVT01', N'CH0000000000001', N'Áo Sơ Mi Nữ 1', CAST(250000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)), 0, 1, NULL, 0, NULL, 1000)
INSERT [dbo].[SF_SANPHAM] ([MASANPHAM], [MACHUYENMUC], [MADONVITINH], [MACUAHANG], [TENSANPHAM], [DONGIACU], [DONGIAMOI], [LUOTXEM], [TINHTRANG], [MOTA], [LUUNHAP], [NGAYTAO], [SOLUONGTONKHO]) VALUES (N'SP0000000000002', N'CM000094', N'DVT01', N'CH0000000000001', N'Áo Sơ Mi Nữ 2', CAST(250000 AS Decimal(18, 0)), CAST(175000 AS Decimal(18, 0)), 0, 1, NULL, 0, NULL, 1000)
INSERT [dbo].[SF_SANPHAM] ([MASANPHAM], [MACHUYENMUC], [MADONVITINH], [MACUAHANG], [TENSANPHAM], [DONGIACU], [DONGIAMOI], [LUOTXEM], [TINHTRANG], [MOTA], [LUUNHAP], [NGAYTAO], [SOLUONGTONKHO]) VALUES (N'SP0000000000003', N'CM000094', N'DVT01', N'CH0000000000001', N'Áo Sơ Mi Nữ 3', CAST(250000 AS Decimal(18, 0)), CAST(150000 AS Decimal(18, 0)), 0, 1, NULL, 0, NULL, 1000)
GO
INSERT [dbo].[SF_THANHPHO] ([MATHANHPHO], [TENTHANHPHO], [TENVIETTAT], [MABUUCHINH]) VALUES (N'TP001', N'An Giang', N'AG', N'76')
INSERT [dbo].[SF_THANHPHO] ([MATHANHPHO], [TENTHANHPHO], [TENVIETTAT], [MABUUCHINH]) VALUES (N'TP002', N'Bà Rịa-Vũng Tàu', N'BRVT', N'64')
INSERT [dbo].[SF_THANHPHO] ([MATHANHPHO], [TENTHANHPHO], [TENVIETTAT], [MABUUCHINH]) VALUES (N'TP003', N'Bạc Liêu', N'BL', N'781')
INSERT [dbo].[SF_THUOCTINH] ([MATHUOCTINH], [TENTHUOCTINH], [MOTA]) VALUES (N'TT00000001', N'Thương hiệu', NULL)
INSERT [dbo].[SF_THUOCTINH] ([MATHUOCTINH], [TENTHUOCTINH], [MOTA]) VALUES (N'TT00000002', N'Chất Liệu', NULL)
INSERT [dbo].[SF_THUOCTINH] ([MATHUOCTINH], [TENTHUOCTINH], [MOTA]) VALUES (N'TT00000003', N'Kích Thước', NULL)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__SF_CUAHA__EFEB99AF4683DB48]    Script Date: 01/08/2015 2:09:37 Chiều ******/
ALTER TABLE [dbo].[SF_CUAHANG] ADD UNIQUE NONCLUSTERED 
(
	[TAIKHOANCUAHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__SF_KHACH__161CF724F6C8C466]    Script Date: 01/08/2015 2:09:37 Chiều ******/
ALTER TABLE [dbo].[SF_KHACHHANG] ADD UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SF_BANTINCUAHANG]  WITH CHECK ADD FOREIGN KEY([MACUAHANG])
REFERENCES [dbo].[SF_CUAHANG] ([MACUAHANG])
GO
ALTER TABLE [dbo].[SF_BINHLUAN]  WITH CHECK ADD FOREIGN KEY([MABINHLUANCHA])
REFERENCES [dbo].[SF_BINHLUAN] ([MABINHLUAN])
GO
ALTER TABLE [dbo].[SF_BINHLUAN]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[SF_KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[SF_BINHLUAN]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SF_SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[SF_CUAHANG]  WITH CHECK ADD FOREIGN KEY([MAQUANHUYEN])
REFERENCES [dbo].[SF_QUANHUYEN] ([MAQUANHUYEN])
GO
ALTER TABLE [dbo].[SF_CUAHANG]  WITH CHECK ADD FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[SF_NHOMQUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[SF_CUAHANGYEUTHICH]  WITH CHECK ADD FOREIGN KEY([MACUAHANG])
REFERENCES [dbo].[SF_CUAHANG] ([MACUAHANG])
GO
ALTER TABLE [dbo].[SF_CUAHANGYEUTHICH]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[SF_KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[SF_CHITIETGIAMGIA]  WITH CHECK ADD FOREIGN KEY([MACHUONGTRINHGIAMGIA])
REFERENCES [dbo].[SF_CHUONGTRINHGIAMGIA] ([MACHUONGTRINHGIAMGIA])
GO
ALTER TABLE [dbo].[SF_CHITIETGIAMGIA]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SF_SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[SF_CHITIETTHUOCTINHSANPHAM]  WITH CHECK ADD FOREIGN KEY([MAGIATRITHUOCTINH])
REFERENCES [dbo].[SF_GIATRITHUOCTINH] ([MAGIATRITHUOCTINH])
GO
ALTER TABLE [dbo].[SF_CHITIETTHUOCTINHSANPHAM]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SF_SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[SF_CHITIETVANCHUYEN]  WITH CHECK ADD FOREIGN KEY([MAPHUONGTHUC])
REFERENCES [dbo].[SF_PHUONGTHUCVANCHUYEN] ([MAPHUONGTHUC])
GO
ALTER TABLE [dbo].[SF_CHITIETVANCHUYEN]  WITH CHECK ADD  CONSTRAINT [FK__SF_CHITIE__SOHOA__4222D4EF] FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[SF_HOADON] ([SOHOADON])
GO
ALTER TABLE [dbo].[SF_CHITIETVANCHUYEN] CHECK CONSTRAINT [FK__SF_CHITIE__SOHOA__4222D4EF]
GO
ALTER TABLE [dbo].[SF_CHITIETVANCHUYEN]  WITH CHECK ADD FOREIGN KEY([MATHANHPHODI], [MATHANHPHODEN])
REFERENCES [dbo].[SF_KHOANGCACH] ([MATHANHPHODI], [MATHANHPHODEN])
GO
ALTER TABLE [dbo].[SF_CHITIETHINHANHSANPHAM]  WITH CHECK ADD FOREIGN KEY([MAHINHANH])
REFERENCES [dbo].[SF_HINHANHSANPHAM] ([MAHINHANH])
GO
ALTER TABLE [dbo].[SF_CHITIETHINHANHSANPHAM]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SF_SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[SF_CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK__SF_CHITIE__MASAN__4316F928] FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SF_SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[SF_CHITIETHOADON] CHECK CONSTRAINT [FK__SF_CHITIE__MASAN__4316F928]
GO
ALTER TABLE [dbo].[SF_CHITIETHOADON]  WITH CHECK ADD  CONSTRAINT [FK__SF_CHITIE__SOHOA__412EB0B6] FOREIGN KEY([SOHOADON])
REFERENCES [dbo].[SF_HOADON] ([SOHOADON])
GO
ALTER TABLE [dbo].[SF_CHITIETHOADON] CHECK CONSTRAINT [FK__SF_CHITIE__SOHOA__412EB0B6]
GO
ALTER TABLE [dbo].[SF_CHUONGTRINHGIAMGIA]  WITH CHECK ADD FOREIGN KEY([MACUAHANG])
REFERENCES [dbo].[SF_CUAHANG] ([MACUAHANG])
GO
ALTER TABLE [dbo].[SF_CHUYENMUC]  WITH CHECK ADD FOREIGN KEY([MACHUYENMUCCHA])
REFERENCES [dbo].[SF_CHUYENMUC] ([MACHUYENMUC])
GO
ALTER TABLE [dbo].[SF_DANHGIASANPHAM]  WITH CHECK ADD FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[SF_KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[SF_DANHGIASANPHAM]  WITH CHECK ADD FOREIGN KEY([MASANPHAM])
REFERENCES [dbo].[SF_SANPHAM] ([MASANPHAM])
GO
ALTER TABLE [dbo].[SF_GIATRITHUOCTINH]  WITH CHECK ADD FOREIGN KEY([MATHUOCTINH])
REFERENCES [dbo].[SF_THUOCTINH] ([MATHUOCTINH])
GO
ALTER TABLE [dbo].[SF_HOADON]  WITH CHECK ADD  CONSTRAINT [FK__SF_HOADON__MACUA__571DF1D5] FOREIGN KEY([MACUAHANG])
REFERENCES [dbo].[SF_CUAHANG] ([MACUAHANG])
GO
ALTER TABLE [dbo].[SF_HOADON] CHECK CONSTRAINT [FK__SF_HOADON__MACUA__571DF1D5]
GO
ALTER TABLE [dbo].[SF_HOADON]  WITH CHECK ADD  CONSTRAINT [FK__SF_HOADON__MACHU__52593CB8] FOREIGN KEY([MACHUONGTRINHGIAMGIA])
REFERENCES [dbo].[SF_CHUONGTRINHGIAMGIA] ([MACHUONGTRINHGIAMGIA])
GO
ALTER TABLE [dbo].[SF_HOADON] CHECK CONSTRAINT [FK__SF_HOADON__MACHU__52593CB8]
GO
ALTER TABLE [dbo].[SF_HOADON]  WITH CHECK ADD  CONSTRAINT [FK__SF_HOADON__MAKHA__4BAC3F29] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[SF_KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[SF_HOADON] CHECK CONSTRAINT [FK__SF_HOADON__MAKHA__4BAC3F29]
GO
ALTER TABLE [dbo].[SF_KHACHHANG]  WITH CHECK ADD FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[SF_NHOMQUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[SF_KHOANGCACH]  WITH CHECK ADD FOREIGN KEY([MATHANHPHODI])
REFERENCES [dbo].[SF_THANHPHO] ([MATHANHPHO])
GO
ALTER TABLE [dbo].[SF_KHOANGCACH]  WITH CHECK ADD FOREIGN KEY([MATHANHPHODEN])
REFERENCES [dbo].[SF_THANHPHO] ([MATHANHPHO])
GO
ALTER TABLE [dbo].[SF_NHANVIENQUANTRI]  WITH CHECK ADD FOREIGN KEY([MAQUYEN])
REFERENCES [dbo].[SF_NHOMQUYEN] ([MAQUYEN])
GO
ALTER TABLE [dbo].[SF_QUANHUYEN]  WITH CHECK ADD FOREIGN KEY([MATHANHPHO])
REFERENCES [dbo].[SF_THANHPHO] ([MATHANHPHO])
GO
ALTER TABLE [dbo].[SF_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MACUAHANG])
REFERENCES [dbo].[SF_CUAHANG] ([MACUAHANG])
GO
ALTER TABLE [dbo].[SF_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MACHUYENMUC])
REFERENCES [dbo].[SF_CHUYENMUC] ([MACHUYENMUC])
GO
ALTER TABLE [dbo].[SF_SANPHAM]  WITH CHECK ADD FOREIGN KEY([MADONVITINH])
REFERENCES [dbo].[SF_DONVITINH] ([MADONVITINH])
GO
/****** Object:  StoredProcedure [dbo].[sp_ChiTietSanPhamTheoMaSanPham]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_ChiTietSanPhamTheoMaSanPham]
@MaSanPham char(15)
AS
BEGIN
select sp.MASANPHAM,sp.TENSANPHAM,ha.TENHINHANH,sp.DONGIACU,sp.DONGIAMOI,ctgg.PHANTRAMGIAMGIA,ch.MACUAHANG, sp.SOLUONGTONKHO
from SF_SANPHAM sp, SF_HINHANHSANPHAM ha,SF_CHITIETHINHANHSANPHAM ctha,SF_CUAHANG ch,SF_CHITIETGIAMGIA ctgg
where sp.MASANPHAM=ctha.MASANPHAM and ha.MAHINHANH=ctha.MAHINHANH and ch.MACUAHANG=sp.MACUAHANG and sp.MASANPHAM=ctgg.MASANPHAM 
and sp.MASANPHAM=@MaSanPham
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DSChiTietThuocTinhTheoMaSanPhamVaMaThuocTinh]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_DSChiTietThuocTinhTheoMaSanPhamVaMaThuocTinh]
@MaSanPham char(15), @MaThuocTinh char(10)
AS
BEGIN
select distinct sp.MASANPHAM,tt.MATHUOCTINH,tt.TENTHUOCTINH,gttt.MAGIATRITHUOCTINH,gttt.TENGIATRITHUOCTINH,gttt.ICON
from SF_SANPHAM sp,SF_THUOCTINH tt,SF_GIATRITHUOCTINH gttt,SF_CHITIETTHUOCTINHSANPHAM cttt
where sp.MASANPHAM=cttt.MASANPHAM and cttt.MAGIATRITHUOCTINH=gttt.MAGIATRITHUOCTINH and gttt.MATHUOCTINH=tt.MATHUOCTINH
and sp.MASANPHAM=@MaSanPham and tt.MATHUOCTINH= @MaThuocTinh
order by sp.MASANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DSChiTietThuocTinhTheoMaSanPhamVaMauSac]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_DSChiTietThuocTinhTheoMaSanPhamVaMauSac]
@MaSanPham char(15)
AS
BEGIN
select distinct sp.MASANPHAM,tt.MATHUOCTINH,tt.TENTHUOCTINH,gttt.MAGIATRITHUOCTINH,gttt.TENGIATRITHUOCTINH,gttt.ICON
from SF_SANPHAM sp,SF_THUOCTINH tt,SF_GIATRITHUOCTINH gttt,SF_CHITIETTHUOCTINHSANPHAM cttt
where sp.MASANPHAM=cttt.MASANPHAM and cttt.MAGIATRITHUOCTINH=gttt.MAGIATRITHUOCTINH and gttt.MATHUOCTINH=tt.MATHUOCTINH
and sp.MASANPHAM=@MaSanPham and tt.MATHUOCTINH= 'TT00000005'
order by sp.MASANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DSChuyenMucCon]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DSChuyenMucCon]
@MaChuyenMuc char(8)
AS
BEGIN
	select * from SF_CHUYENMUC where MACHUYENMUCCHA=@MaChuyenMuc
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DSChuyenMucChaTheoTen]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DSChuyenMucChaTheoTen]
@TenChuyenMuc nvarchar(50)
AS
BEGIN
	select * from SF_CHUYENMUC where TENCHUYENMUC=@TenChuyenMuc
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DSChuyenMucLv1]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DSChuyenMucLv1]

AS
BEGIN
	select * from SF_CHUYENMUC where MACHUYENMUCCHA is null
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DSChuyenMucTheoId]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DSChuyenMucTheoId]
@MaChuyenMuc char(8)
AS
BEGIN
	select * from SF_CHUYENMUC where MACHUYENMUC=@MaChuyenMuc
END

GO
/****** Object:  StoredProcedure [dbo].[sp_DSThuocTinhTheoMaSanPham]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_DSThuocTinhTheoMaSanPham]
@MaSanPham char(15)
AS
BEGIN
select distinct sp.MASANPHAM,tt.MATHUOCTINH,tt.TENTHUOCTINH
from SF_SANPHAM sp,SF_THUOCTINH tt,SF_GIATRITHUOCTINH gttt,SF_CHITIETTHUOCTINHSANPHAM cttt
where sp.MASANPHAM=cttt.MASANPHAM and cttt.MAGIATRITHUOCTINH=gttt.MAGIATRITHUOCTINH and gttt.MATHUOCTINH=tt.MATHUOCTINH
and sp.MASANPHAM=@MaSanPham
order by sp.MASANPHAM
END

GO
/****** Object:  StoredProcedure [dbo].[sp_HinhAnhTheoMaSanPham]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_HinhAnhTheoMaSanPham]
@MaSanPham char(15)
AS
BEGIN
	select sp.MASANPHAM,ha.TENHINHANH 
	from SF_SANPHAM sp, SF_HINHANHSANPHAM ha, SF_CHITIETHINHANHSANPHAM ct
	where sp.MASANPHAM=ct.MASANPHAM and ct.MAHINHANH=ha.MAHINHANH
	and sp.MASANPHAM=@MaSanPham
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SanPhamBanChayTheoMaChuyenMuc]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_SanPhamBanChayTheoMaChuyenMuc]
@MaChuyenMuc char(8)
AS
BEGIN

	select ch.MACUAHANG,ch.TENCUAHANG,sp.MACHUYENMUC,sp.MASANPHAM,sp.TENSANPHAM,sp.DONGIACU,sp.DONGIAMOI,sp.LUOTXEM,sum(ct.SOLUONGBAN) as TongSoLuongBan
	from SF_SANPHAM sp,SF_CHITIETHOADON ct, SF_CUAHANG ch,SF_HOADON hd,
	( 
		select cmcha.MACHUYENMUC as MaChuyenMucCha, cmcha.TENCHUYENMUC as TenChuyenMucCha
		,cmcon.MACHUYENMUC as MaChuyenMucCon1, cmcon.TENCHUYENMUC as TenChuyenMucCon1
		,cmcon2.MACHUYENMUC as MaChuyenMucCon2, cmcon2.TENCHUYENMUC as TenChuyenMucCon2
		from SF_CHUYENMUC cmcha, SF_CHUYENMUC cmcon, SF_CHUYENMUC cmcon2 
		where cmcha.MACHUYENMUC=cmcon.MACHUYENMUCCHA 
		and cmcon.MACHUYENMUC=cmcon2.MACHUYENMUCCHA 
		and cmcha.MACHUYENMUCCHA is null
	) as cm
	where (sp.MASANPHAM=ct.MASANPHAM and ch.MACUAHANG=sp.MACUAHANG and hd.SOHOADON=ct.SOHOADON
	and ch.CHUNGNHAN=1 and DATEDIFF(MM,hd.NGAYLAP,GETDATE())<=6 and cm.MaChuyenMucCon2=sp.MACHUYENMUC)
	and (cm.MaChuyenMucCha=@MaChuyenMuc or cm.MaChuyenMucCon1=@MaChuyenMuc or cm.MaChuyenMucCon2=@MaChuyenMuc)
	group by sp.MASANPHAM,sp.TENSANPHAM,sp.DONGIACU,sp.DONGIAMOI,sp.LUOTXEM,sp.MACHUYENMUC,ch.MACUAHANG,ch.TENCUAHANG
	order by TongSoLuongBan DESC
END

GO
/****** Object:  StoredProcedure [dbo].[sp_SanPhamGiamGiaTheoMaChuyenMuc]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[sp_SanPhamGiamGiaTheoMaChuyenMuc]
@MaChuyenMuc char(8)
AS
BEGIN
	select  ch.MACUAHANG,ch.TENCUAHANG,sp.MACHUYENMUC,sp.MASANPHAM,sp.TENSANPHAM, sp.DONGIACU,sp.DONGIAMOI,sp.LUOTXEM,
	sp.TINHTRANG,ct.PHANTRAMGIAMGIA,ct.MACHUONGTRINHGIAMGIA
	from SF_CUAHANG ch,SF_SANPHAM sp, SF_CHITIETGIAMGIA ct, SF_CHUONGTRINHGIAMGIA gg,
	( 
		select cmcha.MACHUYENMUC as MaChuyenMucCha, cmcha.TENCHUYENMUC as TenChuyenMucCha
		,cmcon.MACHUYENMUC as MaChuyenMucCon1, cmcon.TENCHUYENMUC as TenChuyenMucCon1
		,cmcon2.MACHUYENMUC as MaChuyenMucCon2, cmcon2.TENCHUYENMUC as TenChuyenMucCon2
		from SF_CHUYENMUC cmcha, SF_CHUYENMUC cmcon, SF_CHUYENMUC cmcon2 
		where cmcha.MACHUYENMUC=cmcon.MACHUYENMUCCHA 
		and cmcon.MACHUYENMUC=cmcon2.MACHUYENMUCCHA 
		and cmcha.MACHUYENMUCCHA is null
	) as cm
	where (sp.MASANPHAM=ct.MASANPHAM and gg.MACHUONGTRINHGIAMGIA=ct.MACHUONGTRINHGIAMGIA
	and cm.MaChuyenMucCon2=sp.MACHUYENMUC and ch.MACUAHANG=sp.MACUAHANG) and GETDATE() between gg.NGAYBATDAU and gg.NGAYKETTHUC 
	and ch.CHUNGNHAN=1
	and (cm.MaChuyenMucCha=@MaChuyenMuc or cm.MaChuyenMucCon1=@MaChuyenMuc or cm.MaChuyenMucCon2=@MaChuyenMuc)
	order by ct.PHANTRAMGIAMGIA DESC
	
END

GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateDonGiaMoi]    Script Date: 01/08/2015 2:09:37 Chiều ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateDonGiaMoi]
AS
BEGIN
	UPDATE SF_SANPHAM
SET DONGIAMOI = sp.DONGIACU - sp.DONGIACU*ct.PHANTRAMGIAMGIA/100
from SF_SANPHAM sp, SF_CHITIETGIAMGIA ct
where sp.MASANPHAM= ct.MASANPHAM
END
