<aside>
    <h3>Site Map</h3>
    <ul>
        <li>@Html.ActionLink("Đăng Nhập Quản Lý Hệ Thống", "Login", "HeThong")</li>
        <li>@Html.ActionLink("Đăng Nhập Quản Lý Cua Hang", "Login", "CuaHang")</li>
    </ul>
</aside>