<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="skyfire_dbhutech2015_ecommerceEntities" connectionString="metadata=res://*/Entities.Model1.csdl|res://*/Entities.Model1.ssdl|res://*/Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PARAGON-ASUS;initial catalog=skyfire_dbhutech2015_ecommerce;user id=sa;password=123@abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="skyfire_dbhutech2015_ecommerceEntities1" connectionString="metadata=res://*/Entities.Model1.csdl|res://*/Entities.Model1.ssdl|res://*/Entities.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PARAGON-ASUS;initial catalog=skyfire_dbhutech2015_ecommerce;user id=sa;password=123@abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>