@CHARSET "UTF-8";

.facemark{
	background-repeat:no-repeat;
	border: none;
}

.facemark-1{
	background:url('../../img/facemark/1.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-2{
	background:url('../../img/facemark/2.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-3{
	background:url('../../img/facemark/3.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-4{
	background:url('../../img/facemark/4.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-5{
	background:url('../../img/facemark/5.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-6{
	background:url('../../img/facemark/6.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-7{
	background:url('../../img/facemark/7.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-8{
	background:url('../../img/facemark/8.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-9{
	background:url('../../img/facemark/9.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-10{
	background:url('../../img/facemark/10.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-11{
	background:url('../../img/facemark/11.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-12{
	background:url('../../img/facemark/12.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-13{
	background:url('../../img/facemark/13.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-14{
	background:url('../../img/facemark/14.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}

.facemark-15{
	background:url('../../img/facemark/15.png') no-repeat;
	background-size:31px 31px;
	min-height: 31px;
	min-width: 31px;
}
.mitumori{
	background:url('../../img/facemark/mitumori.png') no-repeat;
	background-size: 58px 83px;
	min-height: 83px;
	min-width: 58px;
}
.nouhin{
	background:url('../../img/facemark/nouhin.png') no-repeat;
	background-size: 58px 83px;
	min-height: 83px;
	min-width: 58px;
}
.seikyu{
	background:url('../../img/facemark/seikyu.png') no-repeat;
	background-size: 58px 83px;
	min-height: 83px;
	min-width: 58px;
}
.tyumon{
	background:url('../../img/facemark/tyumon.png') no-repeat;
	background-size: 58px 83px;
	min-height: 83px;
	min-width: 58px;
}