<div class="modal-custom">
    <div class="modal-header">
        <div class="modal-title">
            <button type="button" class="close" ng-click="close()">&times;</button>
            <span>
                <i class="fa fa-list fa-lg fa-fw"></i>
                @Page.Title
            </span>
        </div>
    </div>
</div>
<!-- Start add contents here -->
@RenderBody()
