
<aside class="main-sidebar" ng-controller="QuanLyMenuControl" init='init()'>

    <!-- Side Bar For Administrator == administrator-->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img ng-src="~/Images/AvatarNhanVien/manager@skyfire.vn.jpg" class="img-circle" alt="{{model.sessionDangNhap.tennhanvien}}" />
            </div>
            <div class="pull-left info">
                <p>{{model.sessionDangNhap.tennhanvien}}</p>
                <p>{{model.sessionDangNhap.thoigiandangnhap|date:'dd/MM/yyyy HH:mm:ss'}}</p>
            </div>
        </div>
        <!-- search form -->
        @*<form action="" method="post" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="txtKeyword" class="form-control" placeholder="Tìm kiếm..." />
                <span class="input-group-btn">
                    <button type='submit' name='btnSearch' id='search-btn' class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li id="menuDashboard">
                <a href="Dashboard">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-balance-scale"></i>
                    <span>Quản Lý Sàn Giao Dịch</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="ThongKeDoanhSo"><i class="ion-android-list"></i>Quản Lý Chuyên Mục</a></li>
                    <li><a href="ThongKeDoanhSo"><i class="ion-android-list"></i>Quản Lý Thuộc Tính</a></li>
                    <li><a href="QuanLyBanHang"><i class="fa fa-list-ol"></i>Quản Lý Khoảng Cách</a></li>
                    <li><a href="QuanLyThemHoaDon"><i class="fa fa-cart-plus"></i>Quản Lý Phương Thức Vận Chuyển</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="ion-android-cart"></i>
                    <span>Quản Lý Hệ Thống</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="ThongKeDoanhSo"><i class="ion-android-list"></i>Quản Lý Đơn Vị Tính</a></li>
                    <li><a href="ThongKeDoanhSo"><i class="ion-android-list"></i>Quản Lý Thành Phố</a></li>
                    <li><a href="ThongKeDoanhSo"><i class="ion-android-list"></i>Quản Lý Quận Huyện</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dropbox"></i>
                    <span>Thống Kê hệ Thốg</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="QuanLyNhapKho"><i class="fa fa-download"></i>Thống Kê Khách Hàng</a></li>
                    <li><a href="QuanLyNhapKho"><i class="fa fa-download"></i>Thống Kê Cửa Hàng</a></li>
                    <li><a href="QuanLyNhapKho"><i class="fa fa-download"></i>Thống Kê Bản Tin Cửa Hàng</a></li>
                    <li><a href="QuanLyNhapKho"><i class="fa fa-download"></i>Thống Kê Giảm Giá</a></li>
                    <li><a href="QuanLyXuatKho"><i class="fa fa-upload"></i>Thống Kê Sản Phẩm</a></li>
                    <li><a href="QuanLyXuatKho"><i class="fa fa-upload"></i>Thống Kê Bình Luận</a></li>
                    <li><a href="QuanLyNhapKho"><i class="fa fa-download"></i>Thống Kê Hóa Đơn</a></li>
                    <li><a href="QuanLyXuatKho"><i class="fa fa-upload"></i>Thống Kê Hình Ảnh</a></li>
                </ul>
            </li>
            
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-cogs"></i>
                    <span>Thiết Lập Hệ Thống</span>
                    <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    <li><a href="QuanLyHeThong"><i class="fa fa-cog"></i>Chi Tiết Hệ Thống</a></li>
                    <li><a href="QuanLyNhanVien"><i class="fa fa-user-plus"></i>Quản Lý Nhân Viên</a></li>
                    <li><a href="QuanLyThemHoaDon"><i class="fa fa-cart-plus"></i>Quản Lý Phân Quyền</a></li>
                </ul>
            </li>

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>